<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Abhinab B. Chhetri</title>
  <style>
    .container {
    display: flex;
    flex-direction: row; /* This is also the default and can be omitted */
    gap: 20px; /* Optional: space between child elements */
    justify-content: center; /* optional: align children horizontally center */
    }
  </style>
</head>
<body bgcolor="#B0C4DE">
<nav>
  <ul style="list-style:none; margin:0; padding:0; display:flex; justify-content:flex-end; background:#333;">
    <li><a href="#" style="color:white; padding:14px 20px; text-decoration:none; font-size: 20px;">HOME</a></li>
    <li><a href="#" style="color:white; padding:14px 20px; text-decoration:none;font-size: 20px;">COOL STUFF</a></li>
    <li><a href="#" style="color:white; padding:14px 20px; text-decoration:none;font-size: 20px;">RESUME</a></li>
    <li><a href="#" style="color:white; padding:14px 20px; text-decoration:none;font-size: 20px;">CONTACT LINKS</a></li>
  </ul>
</nav>
<hr>
  <div align="center">
    <h1>Abhinab B. Chhetri </h1>
    <p>[Welcome to my website (excuse my poor webdev skills)]</p>
    </div>
<hr>
  <center>
  <img  src="static/car.png" style="width: 30%; height: auto;" alt="Profile Picture" class="profile-pic" />
  </center>
  <br>
  <hr>
  <div class="container">
    <div>
    <H3>Shows I like:</H3>
    <ol>
      <li>Breaking Bad</li>
      <li>House MD</li>
      <li>Scam 1992 Harshad Mehata</li>
      <li>Big Band Theory</li>
    </ol>
    </div>
    <div>
      <H3>Where I spend my time on YT:</H3>
    <ol>
      <li><a href="https://www.youtube.com/@jvscholz/videos">James Scholz</a>  [cool guy]</li>
      <li><a href="https://www.youtube.com/@peter_draws">Peter Draws</a> [wierd guy but cool af]</li>
      <li><a href="https://www.youtube.com/@bailey.schildbach">Bailey Schildbach</a>  [therapist]</li>
      <li><a href="https://www.youtube.com/@bigboxSWE">bigboxSWE</a>  [cool videos on programming]</li>
    </ol>
    </div>
    <div>
      <H3>Book Recommendations !!!:</H3>
    <ol>
      <li>Sublle Art of Not Giving A F*ck</li>
      <li>Think Straight</li>
      <li>The Algebra of Happiness</li>
    </ol>
    </div>
  </div>
  <hr>
  <h2 align="center">Tech Stack I Use</h2>
  <div class="container"> 
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Lua-Logo.svg/2048px-Lua-Logo.svg.png" alt="Lua Logo" style="width:50px; height:50px; vertical-align:middle; margin-right:8px;">
<img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg" alt="Python Logo" style="width:50px; height:50px; vertical-align:middle; margin-right:8px;">
<img src="https://assets.streamlinehq.com/image/private/w_300,h_300,ar_1/f_auto/v1/icons/3/flask-oabo4nn8vibtrqvucoolel.png/flask-bcpzvlxe9vryvu8v3etb.png?_a=DATAg1ceZAA0" alt="Flask Logo" style="width:50px; height:50px; vertical-align:middle; margin-right:8px;">
<img src="https://camo.githubusercontent.com/15166a15835f145259844be455ab5945594a70c48a3090aa83d193bd5e3e9bc5/68747470733a2f2f63646e2e6a7364656c6976722e6e65742f67682f64657669636f6e732f64657669636f6e2f69636f6e732f6769742f6769742d6f726967696e616c2e737667" alt="Git Logo" style="width:50px; height:50px; vertical-align:middle; margin-right:8px;">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/512px-ISO_C%2B%2B_Logo.svg.png" alt="C++ Logo" style="width:50px; height:50px; vertical-align:middle; margin-right:8px;">

  </div>
<hr>
  <div align="center" class="links">
    <h2>Contact/Social Links</h2>
    <a href="https://github.com/ABHINAB-CHHETRI" target="_blank" title="GitHub">GitHub</a>
    <a href="https://linkedin.com/in/abhinab-chhetri-46b47a350" target="_blank" title="LinkedIn">LinkedIn</a>
  </div>
  <hr>
</body>
</html>
